#ticket
  %h2= @ticket.title
  %br 
  %small Created by #{@ticket.user.email}
  = simple_format(@ticket.description)
  - if @ticket.assets.exists?
    %h3 Attached files
    .assets
      - @ticket.assets.each do |asset|
        %p= link_to File.basename(asset.asset.path), asset.asset.url
        %p
          %small= number_to_human_size(asset.asset.size) + "(#{asset.asset.content_type})"
- authorized?("edit tickets".to_sym,@project) do 
  = link_to 'Edit Ticket', [:edit, @project, @ticket]
- authorized?("delete tickets".to_sym,@project) do 
  = link_to 'Delete Ticket', [@project, @ticket], :method => :delete, :confirm => "Are you sure?"
