%span{:id => "tag-#{tag.name.parameterize}", :class => "tag"}
  - authorized?(:tag, @ticket.project) do
    = link_to "x", remove_ticket_tag_path(@ticket, tag), :method => :delete, :remote => true, :id => "delete-#{tag.name.parameterize}"
  = link_to tag.name, search_project_tickets_path(@ticket.project, :search => "tag:#{tag.name}")
